/* 
    Document   : main
    Created on : Oct 4, 2012, 7:37:34 AM
    Author     : Opeyemi
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    margin : 0;
    padding : 0;
    background-color: #fff;
    font-family: arial, sans-serif;
    background-image: url(../images/bg.png);
    background-repeat: repeat-x;
}

#login,#pin{
    min-height : 50px;
    padding: 2px;
    margin-right: 10px;
    top: 150px;
    margin: 0 auto;
    position: relative;
    border: 1px solid #999;
    padding: 10px;
    width: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-image: url(../images/padded.png);
    background-repeat: repeat-x;    
    text-align: center;
}

#pin{
    width : 500px;
    font-size: 11px;
    height : 150px;
}

.elevens{
    font-size : 11px;
}

.fifteens{
    font-size : 15px;
}

.buttons{
    background-color: #ffb504;
    border : 1px solid #ccc;
    color : #333;
    cursor: pointer;
}

#logo{
    border-bottom: 3px solid #ffb504;
    padding: 10px;
}

.whites{
    color : #333;
}

.bolds{
    font-weight : bold;
}

.fifteens{
    font-size : 15px;
}

.padded{
    padding: 5px;
}
.ui-tabs .ui-tabs-nav {
margin: 0;
padding: 1.2em !important;
}
.underlined{
    border-bottom: 1px solid #fff;
}

.linkbuttons{
    width : 85%;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    background-image: url(images/button.png);
    background-repeat: repeat-x;
}

.thirteens{
    font-size : 13px;
}

.centers{
    text-align: center;
}
.companyHeaderGrid tr, .companyHeaderGrid td {
    border-style: hidden !important;
}
.nonunderlined{
    text-decoration: none;
}

.texts{
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #f0f075;
}

.lefts{
    float : left;
    border-right : 1px dashed #333;
    width : 40%;
    height : 90%;
    padding: 1px 20px 1px 20px;
}

.borderless{
    border: none;
}

.errors{
    color : #f00;
}

#canvas{
    width : 950px;
    min-height: 450px;
    border: 1px solid #ccc;
    margin: 0 auto;
    top: 50px;
    position: relative;
    background-color: #fff;
    padding: 10px;
}

.datatables tr td{
    border-bottom: 1px solid #ccc;
    padding: 3px;
}

.datatables tr th{
    border-bottom: 1px solid #ccc;
    padding : 5px;
    background: #ddd;
}

.datatables{
    border-collapse: collapse;
}

.ui-datatable table{
    font-size : 9px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}


.ui-widget-header{
    background-color: #ffcc33;
}

.ui-paginator{
    font-size : 11px;
}

.ui-datatable th{
    border-bottom: 1px solid #ccc;
    padding : 2px;
    background: #ddd;
    text-align: center;
}

.ui-datepicker{
    font-size: 11px;
}

.ui-growl{
    font-size : 11px;
}